
.welcome-names{
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.studo100 {
	/* position: relative;
	top:-20px; */
	max-width: calc(100% - 20px);
	width: 100vw;
	padding: 10px;
}
.main-cont{
	position: relative;
}
.title-main{
	position: absolute;
	white-space: nowrap;
	left: 50%;
    color: var(--main-color);
    transform: translate(-50%, 30px);
    font-size: 2.5rem;
	 -webkit-text-stroke: 1px var(--main-color);
}