/* 핵심컬러 eeb9b7 */

@font-face {
  font-family: "amsterdam";         
  src: url("./font/amsterdam.ttf"); 
}
@font-face {
  font-family: 'GangwonEdu_OTFBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
:root {
	--sub-color: #d7ad9b;
	/* --main-color: #bc562a; */
	--main-color: #eeb9b7;
  font-family: "amsterdam";
}

.container {
	text-align: center;
}
.container 
  >.title {
	margin-top: 40px;
	margin-bottom: 20px;
  color: var(--main-color);
}
.App-container {
  font-family: "GangwonEdu_OTFBoldA";

  /* background-color: #fff6e2; */
  height: 100vh;
  overflow: scroll;
  /* width:100wh; */
  /* background-image: url(./assets/background.jpg); */
  /* background-repeat : no-repeat; */
  /* background-size : cover; */
  /* height: 100%; */
  /* width:100%; */

}

.App {
  max-width: 460px;
	/* padding :  0 0 30px 0; */
  margin: 0 auto;
  color: 0f0f0f;
  background-color: #f5f5f5;
}

.row{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.row>img{
	width:100px;
}
.tail{
  margin-top: 10px !important;
}