.breaks {
	width: 100%;
	display: flex;
	/* justify-content: center; */
	justify-content: space-around;
}

.break-item, .break-reverse-item {
	max-width: 110px;
	/* font-size: 310px; */
	/* margin: 0 auto; */
}

.leaves-item {
	width: 30px;
	margin: 0 auto;

	/* margin: 0 auto; */
}

.break-reverse-item {
	transform: scaleX(-1);
}

.bank-button {}